@import "MyPalette.css";


body {
	/* background: #E0E0E0; */
	font-family: Verdana, sans-serif;
	text-align: center;
	font-size: 100%;
}


.titleText {
	font-family: 'Pacifico', cursive;
	text-shadow: 3px 3px 10px black;
	font-size: 3em;
}


.titleBox {
	border-style: solid;
	border-width: 1px;
	padding: 96px
}


.topHeader {
	background-image: linear-gradient(45deg,  hsl(302,99%,64%), hsl(265,100%,50%), hsl(191,100%,50%));
	font-family: 'Pacifico', cursive;
	text-shadow: 3px 3px 10px black;
	font-size: 3em;
	border-style: solid;
	border-width: 1px;
	padding: 16px
}


.sectionHeader {
	background-image: linear-gradient(45deg,  hsl(302,99%,64%), hsl(265,100%,50%), hsl(191,100%,50%));
	font-family: 'Pacifico', cursive;
	padding: 8px;
	text-shadow: 2px 2px 2px black
}


.smallHeader {
	font-size: 125%;
	font-weight: normal;
	padding-bottom: 16px;
	margin-bottom: 0px;
}


.bodyBox {
	background-color: hsl(0,0%,10%);
	padding-bottom: 24px
}


.content {
	max-width: 1200px;
	margin: auto;
}

canvas {
	width: 100%;
	height: 100%;
	padding: 16px;
	
}