

body {
	background: #E0E0E0;
	font-family: Verdana, sans-serif;
	text-align: center;
	font-size: 100%;
}

h1 {
	color: #3C415A;
	background-color: #AFC3EB;
	font-size: 3em;
	border-style: solid;
	border-color: #3C415A;
	border-width: 2px;
	border-radius: 8px;
}

h5 {
	font-size: 125%;
	font-weight: normal;
	background-color: #FFFFFF;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-bottom: 0px;
}

img {
	border-style: solid;
	border-color: #3C415A;
	border-width: 1px;
	padding: 8px;
	background-color: #AFC3EB;
	border-radius: 8px
}

p {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 16px;
}